* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: rgb(129, 216, 208);
}
button {
  width: 110px;
  height: 40px;
  border: none;
  outline: none;
  color: #ffffff;
  background: darkturquoise;
  margin-top: 30px;
  padding-left: 7px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.5s;
  font-size: 14px;
  span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    transition: 0.5s;
  }
  &:hover span {
    padding-right: 10px;
    transition: 0.5s;
  }
  span:after {
    content: '\00bb';
    opacity: 0;
    transition: 0.5s;
    font-size: 20px;
    position: relative;
    right: 0;
  }
  &:hover span:after{
    opacity: 1;
    right: -8px;
  }
}
.hashTitle {
  color: white;
}
h1, h2, h3, h4, h5, h6 {
  color: rgb(129, 216, 208);
}


